.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #e7e7e7 0%, #c8c8c8 100%);
  background-image: linear-gradient(to bottom, #e7e7e7 0%, #c8c8c8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe7e7e7', endColorstr='#ffc8c8c8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #c3c3c3;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #c8c8c8;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #c8c8c8;
  border-color: #c3c3c3;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #008cba 0%, #005e7d 100%);
  background-image: linear-gradient(to bottom, #008cba 0%, #005e7d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008cba', endColorstr='#ff005e7d', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #005673;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #005e7d;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #005e7d;
  border-color: #005673;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #43ac6a 0%, #32804f 100%);
  background-image: linear-gradient(to bottom, #43ac6a 0%, #32804f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff43ac6a', endColorstr='#ff32804f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #2f794a;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #32804f;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #32804f;
  border-color: #2f794a;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #e99002 0%, #ac6a01 100%);
  background-image: linear-gradient(to bottom, #e99002 0%, #ac6a01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe99002', endColorstr='#ffac6a01', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #a26401;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #ac6a01;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #ac6a01;
  border-color: #a26401;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #f04124 0%, #c9280e 100%);
  background-image: linear-gradient(to bottom, #f04124 0%, #c9280e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff04124', endColorstr='#ffc9280e', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #bf260d;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #c9280e;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #c9280e;
  border-color: #bf260d;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #e1e1e1 100%);
  background-image: linear-gradient(to bottom, #eeeeee 0%, #e1e1e1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffe1e1e1', GradientType=0);
  background-color: #e1e1e1;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #008cba 0%, #0079a1 100%);
  background-image: linear-gradient(to bottom, #008cba 0%, #0079a1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008cba', endColorstr='#ff0079a1', GradientType=0);
  background-color: #0079a1;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #4d4d4d 0%, #333333 100%);
  background-image: linear-gradient(to bottom, #4d4d4d 0%, #333333 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d4d4d', endColorstr='#ff333333', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #262626 0%, #2e2e2e 100%);
  background-image: linear-gradient(to bottom, #262626 0%, #2e2e2e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff262626', endColorstr='#ff2e2e2e', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #00b2ed 0%, #008cba 100%);
  background-image: linear-gradient(to bottom, #00b2ed 0%, #008cba 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00b2ed', endColorstr='#ff008cba', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #008cba 0%, #0096c7 100%);
  background-image: linear-gradient(to bottom, #008cba 0%, #0096c7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008cba', endColorstr='#ff0096c7', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #43ac6a 0%, #389059 100%);
  background-image: linear-gradient(to bottom, #43ac6a 0%, #389059 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff43ac6a', endColorstr='#ff389059', GradientType=0);
  border-color: #2e7548;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #3bb4d8 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #3bb4d8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff3bb4d8', GradientType=0);
  border-color: #28a1c5;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #e99002 0%, #c37902 100%);
  background-image: linear-gradient(to bottom, #e99002 0%, #c37902 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe99002', endColorstr='#ffc37902', GradientType=0);
  border-color: #9d6101;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f04124 0%, #df2d0f 100%);
  background-image: linear-gradient(to bottom, #f04124 0%, #df2d0f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff04124', endColorstr='#ffdf2d0f', GradientType=0);
  border-color: #bb260d;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #008cba 0%, #006687 100%);
  background-image: linear-gradient(to bottom, #008cba 0%, #006687 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008cba', endColorstr='#ff006687', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #43ac6a 0%, #358753 100%);
  background-image: linear-gradient(to bottom, #43ac6a 0%, #358753 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff43ac6a', endColorstr='#ff358753', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #e99002 0%, #b67102 100%);
  background-image: linear-gradient(to bottom, #e99002 0%, #b67102 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe99002', endColorstr='#ffb67102', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #f04124 0%, #d32a0e 100%);
  background-image: linear-gradient(to bottom, #f04124 0%, #d32a0e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff04124', endColorstr='#ffd32a0e', GradientType=0);
}
.list-group {
  border-radius: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #006687;
  background-image: -webkit-linear-gradient(top, #008cba 0%, #006f94 100%);
  background-image: linear-gradient(to bottom, #008cba 0%, #006f94 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008cba', endColorstr='#ff006f94', GradientType=0);
  border-color: #006f94;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #008cba 0%, #0079a1 100%);
  background-image: linear-gradient(to bottom, #008cba 0%, #0079a1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008cba', endColorstr='#ff0079a1', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
}
.well {
  background-image: -webkit-linear-gradient(top, #ededed 0%, #fafafa 100%);
  background-image: linear-gradient(to bottom, #ededed 0%, #fafafa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffededed', endColorstr='#fffafafa', GradientType=0);
  border-color: #e1e1e1;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
